.container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -20;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  /*  */
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    1831px 1813px #fff,
    64px 272px #fff,
    1259px 1599px #fff,
    403px 1047px #fff,
    575px 99px #fff,
    48px 477px #fff,
    1735px 960px #fff,
    274px 57px #fff,
    1241px 274px #fff,
    882px 995px #fff,
    1524px 420px #fff,
    1940px 265px #fff,
    1709px 32px #fff,
    1232px 187px #fff,
    1694px 233px #fff,
    1607px 349px #fff,
    1291px 1052px #fff,
    1613px 984px #fff,
    1670px 1116px #fff,
    615px 740px #fff,
    1057px 1647px #fff,
    431px 541px #fff,
    896px 1300px #fff,
    38px 1053px #fff,
    1780px 1887px #fff,
    395px 377px #fff,
    1558px 1482px #fff,
    484px 473px #fff,
    1525px 1242px #fff,
    1624px 650px #fff,
    301px 15px #fff,
    597px 1674px #fff,
    448px 1043px #fff,
    1970px 838px #fff,
    1887px 1939px #fff,
    1921px 795px #fff,
    788px 398px #fff,
    1943px 1667px #fff,
    120px 1587px #fff,
    18px 91px #fff,
    1741px 1115px #fff,
    1028px 1330px #fff,
    1284px 1334px #fff,
    395px 179px #fff,
    674px 895px #fff,
    1058px 430px #fff,
    1437px 1202px #fff,
    426px 1903px #fff,
    873px 1813px #fff,
    816px 1486px #fff,
    752px 931px #fff,
    1168px 1274px #fff,
    1656px 286px #fff,
    641px 1315px #fff,
    1014px 1265px #fff,
    516px 612px #fff,
    986px 1457px #fff,
    429px 134px #fff,
    1164px 890px #fff,
    130px 1083px #fff,
    364px 1297px #fff,
    568px 366px #fff,
    170px 554px #fff,
    981px 1523px #fff,
    71px 902px #fff,
    1708px 308px #fff,
    14px 1944px #fff,
    19px 1770px #fff,
    1786px 1640px #fff,
    1366px 958px #fff,
    123px 1514px #fff,
    1247px 1626px #fff,
    1799px 380px #fff,
    1991px 989px #fff,
    1522px 403px #fff,
    234px 1746px #fff,
    14px 284px #fff,
    1766px 1152px #fff,
    1381px 1894px #fff,
    419px 1430px #fff,
    541px 5px #fff,
    1665px 866px #fff,
    289px 620px #fff,
    560px 789px #fff,
    1033px 5px #fff,
    7px 1920px #fff,
    207px 1376px #fff,
    69px 1765px #fff,
    462px 140px #fff,
    1676px 569px #fff,
    963px 1852px #fff,
    376px 1512px #fff,
    1056px 1859px #fff,
    866px 167px #fff,
    1854px 1676px #fff,
    636px 1448px #fff,
    672px 1537px #fff,
    1233px 1234px #fff,
    95px 1714px #fff,
    1653px 1050px #fff,
    801px 1902px #fff,
    599px 615px #fff,
    1115px 1008px #fff,
    723px 1536px #fff,
    1755px 142px #fff,
    638px 1782px #fff,
    1129px 1051px #fff,
    1348px 1181px #fff,
    1220px 767px #fff,
    939px 935px #fff,
    1461px 572px #fff,
    1172px 130px #fff,
    174px 1561px #fff,
    1218px 427px #fff,
    460px 1992px #fff,
    133px 372px #fff,
    1780px 1659px #fff,
    1851px 1225px #fff,
    1406px 516px #fff,
    794px 642px #fff,
    1856px 669px #fff,
    598px 45px #fff,
    957px 1381px #fff,
    1016px 442px #fff,
    1804px 1017px #fff,
    617px 1860px #fff,
    22px 1593px #fff,
    1675px 384px #fff,
    422px 1978px #fff,
    988px 1428px #fff,
    348px 1015px #fff,
    881px 1244px #fff,
    610px 344px #fff,
    360px 948px #fff,
    1150px 1793px #fff,
    76px 895px #fff,
    1971px 1367px #fff,
    127px 1835px #fff,
    131px 1059px #fff,
    1712px 454px #fff,
    491px 15px #fff,
    1640px 9px #fff,
    1694px 1521px #fff,
    939px 1545px #fff,
    240px 260px #fff,
    684px 377px #fff,
    1703px 1444px #fff,
    1165px 453px #fff,
    686px 1370px #fff,
    1332px 1215px #fff,
    58px 1175px #fff,
    322px 200px #fff,
    1866px 423px #fff,
    1083px 1117px #fff,
    1678px 1564px #fff,
    1972px 1717px #fff,
    1302px 1675px #fff,
    812px 37px #fff,
    232px 714px #fff,
    111px 1499px #fff,
    1540px 762px #fff,
    1308px 445px #fff,
    261px 765px #fff,
    1262px 713px #fff,
    932px 708px #fff,
    1473px 1471px #fff,
    315px 279px #fff,
    1465px 1777px #fff,
    1989px 1198px #fff,
    1487px 1641px #fff,
    198px 1125px #fff,
    1325px 84px #fff,
    106px 787px #fff,
    850px 1346px #fff,
    911px 474px #fff,
    1889px 1591px #fff,
    904px 1170px #fff,
    213px 1392px #fff,
    1843px 1372px #fff,
    325px 113px #fff,
    1245px 86px #fff,
    1825px 1510px #fff,
    1685px 1802px #fff,
    1491px 1183px #fff,
    350px 1230px #fff,
    180px 1175px #fff,
    1935px 1286px #fff,
    703px 1733px #fff,
    1489px 413px #fff,
    722px 99px #fff,
    1850px 34px #fff,
    710px 1908px #fff,
    886px 1559px #fff,
    1208px 261px #fff,
    1132px 1476px #fff,
    1466px 629px #fff,
    847px 983px #fff,
    839px 1212px #fff,
    37px 1284px #fff,
    1579px 977px #fff,
    123px 572px #fff,
    1103px 1380px #fff,
    680px 644px #fff,
    545px 752px #fff,
    121px 1219px #fff,
    1318px 385px #fff,
    1339px 1251px #fff,
    1906px 1046px #fff,
    1295px 502px #fff,
    334px 1270px #fff,
    1145px 1193px #fff,
    307px 1705px #fff,
    1499px 1091px #fff,
    550px 998px #fff,
    1652px 937px #fff,
    482px 357px #fff,
    922px 1961px #fff,
    333px 926px #fff,
    190px 46px #fff,
    51px 89px #fff,
    1644px 584px #fff,
    1461px 343px #fff,
    224px 931px #fff,
    775px 1846px #fff,
    949px 172px #fff,
    1211px 1907px #fff,
    1619px 1000px #fff,
    1031px 558px #fff,
    612px 166px #fff,
    1674px 1702px #fff,
    1992px 945px #fff,
    852px 921px #fff,
    41px 2px #fff,
    321px 49px #fff,
    1315px 174px #fff,
    454px 1506px #fff,
    1854px 1069px #fff,
    1489px 1113px #fff,
    84px 189px #fff,
    382px 920px #fff,
    24px 328px #fff,
    372px 1702px #fff,
    1704px 1581px #fff,
    1682px 374px #fff,
    240px 11px #fff,
    1369px 1033px #fff,
    1157px 542px #fff,
    1655px 500px #fff,
    587px 1339px #fff,
    899px 755px #fff,
    1976px 1895px #fff,
    1123px 653px #fff,
    1711px 1032px #fff,
    1701px 875px #fff,
    1059px 1871px #fff,
    452px 438px #fff,
    156px 1982px #fff,
    1261px 1796px #fff,
    732px 1207px #fff,
    1603px 819px #fff,
    1372px 174px #fff,
    1253px 1893px #fff,
    691px 170px #fff,
    1224px 352px #fff,
    706px 556px #fff,
    1347px 1760px #fff,
    1144px 913px #fff,
    1354px 681px #fff,
    1266px 835px #fff,
    810px 102px #fff,
    145px 344px #fff,
    904px 199px #fff,
    1188px 1536px #fff,
    1071px 60px #fff,
    644px 181px #fff,
    745px 1778px #fff,
    1941px 1394px #fff,
    215px 1109px #fff,
    1321px 1560px #fff,
    156px 508px #fff,
    1807px 1792px #fff,
    29px 384px #fff,
    1059px 1130px #fff,
    272px 1880px #fff,
    445px 829px #fff,
    433px 126px #fff,
    1843px 1219px #fff,
    1061px 658px #fff,
    1074px 1560px #fff,
    121px 640px #fff,
    629px 1053px #fff,
    68px 823px #fff,
    1631px 187px #fff,
    886px 321px #fff,
    20px 1365px #fff,
    162px 360px #fff,
    1964px 922px #fff,
    1458px 495px #fff,
    1165px 912px #fff,
    1215px 135px #fff,
    717px 1938px #fff,
    1546px 12px #fff,
    55px 513px #fff,
    456px 1728px #fff,
    886px 1588px #fff,
    192px 1352px #fff,
    1377px 1273px #fff,
    353px 672px #fff,
    856px 423px #fff,
    314px 457px #fff,
    269px 1841px #fff,
    846px 1128px #fff,
    729px 724px #fff,
    910px 1807px #fff,
    314px 1888px #fff,
    683px 1761px #fff,
    1445px 1388px #fff,
    1824px 356px #fff,
    1446px 1213px #fff,
    1653px 698px #fff,
    1422px 1120px #fff,
    1451px 95px #fff,
    627px 994px #fff,
    1602px 160px #fff,
    991px 1655px #fff,
    1484px 184px #fff,
    1871px 770px #fff,
    229px 1260px #fff,
    943px 869px #fff,
    720px 1000px #fff,
    213px 276px #fff,
    1119px 1639px #fff,
    1688px 1538px #fff,
    199px 27px #fff,
    607px 1506px #fff,
    1773px 1517px #fff,
    91px 1643px #fff,
    1748px 1525px #fff,
    1102px 727px #fff,
    1993px 1200px #fff,
    1331px 159px #fff,
    1373px 1180px #fff,
    118px 259px #fff,
    1365px 1885px #fff,
    448px 1590px #fff,
    1583px 190px #fff,
    853px 1244px #fff,
    1018px 1177px #fff,
    1693px 883px #fff,
    194px 1680px #fff,
    1747px 973px #fff,
    1781px 600px #fff,
    1347px 1448px #fff,
    267px 4px #fff,
    1479px 1441px #fff,
    544px 375px #fff,
    575px 1311px #fff,
    95px 686px #fff,
    49px 1139px #fff,
    1608px 1030px #fff,
    825px 1596px #fff,
    782px 20px #fff,
    65px 631px #fff,
    1649px 651px #fff,
    17px 727px #fff,
    1330px 600px #fff,
    1697px 226px #fff,
    1686px 1946px #fff,
    1646px 1779px #fff,
    100px 1106px #fff,
    315px 1861px #fff,
    1625px 1433px #fff,
    683px 951px #fff,
    1326px 1670px #fff,
    1773px 29px #fff,
    1030px 280px #fff,
    703px 445px #fff,
    1020px 61px #fff,
    1091px 109px #fff,
    1900px 1500px #fff,
    1006px 1917px #fff,
    1375px 1238px #fff,
    1105px 6px #fff,
    1887px 1241px #fff,
    943px 1868px #fff,
    1195px 1116px #fff,
    1130px 4px #fff,
    364px 1984px #fff,
    644px 218px #fff,
    938px 930px #fff,
    281px 1201px #fff,
    1655px 186px #fff,
    334px 1426px #fff,
    1796px 1142px #fff,
    970px 29px #fff,
    1007px 1567px #fff,
    342px 1840px #fff,
    1781px 1059px #fff,
    1732px 1500px #fff,
    133px 139px #fff,
    1646px 696px #fff,
    63px 1832px #fff,
    1487px 711px #fff,
    1272px 173px #fff,
    23px 454px #fff,
    1935px 1194px #fff,
    1019px 1882px #fff,
    867px 1849px #fff,
    65px 1261px #fff,
    340px 1524px #fff,
    1587px 1514px #fff,
    1333px 1482px #fff,
    795px 413px #fff,
    943px 1706px #fff,
    630px 1057px #fff,
    221px 268px #fff,
    1795px 872px #fff,
    1333px 1455px #fff,
    1250px 1519px #fff,
    535px 1689px #fff,
    1536px 953px #fff,
    1481px 1432px #fff,
    1106px 1848px #fff,
    841px 11px #fff,
    838px 842px #fff,
    1191px 456px #fff,
    917px 1635px #fff,
    1654px 1755px #fff,
    1943px 1933px #fff,
    883px 1552px #fff,
    1056px 1544px #fff,
    1305px 224px #fff,
    1875px 1798px #fff,
    1590px 1712px #fff,
    22px 1734px #fff,
    1373px 1282px #fff,
    7px 1159px #fff,
    1237px 45px #fff,
    36px 1146px #fff,
    15px 1196px #fff,
    1015px 1144px #fff,
    373px 1252px #fff,
    1427px 607px #fff,
    1000px 475px #fff,
    210px 661px #fff,
    1379px 162px #fff,
    1696px 323px #fff,
    1446px 1752px #fff,
    1271px 1800px #fff,
    1100px 1182px #fff,
    804px 1439px #fff,
    1075px 1917px #fff,
    234px 639px #fff,
    1157px 1541px #fff,
    1626px 1116px #fff,
    288px 15px #fff,
    1965px 1778px #fff,
    349px 526px #fff,
    1115px 1984px #fff,
    275px 1226px #fff,
    1191px 1387px #fff,
    780px 1777px #fff,
    1184px 1218px #fff,
    348px 1802px #fff,
    1555px 1203px #fff,
    206px 810px #fff,
    1541px 1009px #fff,
    1264px 1330px #fff,
    128px 325px #fff,
    126px 1886px #fff,
    1621px 1558px #fff,
    821px 357px #fff,
    1136px 790px #fff,
    1248px 1573px #fff,
    773px 1054px #fff,
    1869px 655px #fff,
    911px 138px #fff,
    1442px 615px #fff,
    135px 942px #fff,
    168px 1420px #fff,
    1954px 846px #fff,
    105px 895px #fff,
    464px 1679px #fff,
    1096px 1320px #fff,
    1251px 77px #fff,
    1063px 1635px #fff,
    1008px 587px #fff,
    1354px 832px #fff,
    1013px 446px #fff,
    1267px 1219px #fff,
    308px 1498px #fff,
    297px 748px #fff,
    1838px 543px #fff,
    158px 1082px #fff,
    184px 805px #fff,
    61px 1137px #fff,
    473px 814px #fff,
    1096px 1520px #fff,
    1036px 532px #fff,
    84px 1845px #fff,
    1521px 418px #fff,
    1346px 1877px #fff,
    553px 371px #fff,
    1069px 660px #fff,
    1257px 1894px #fff,
    1978px 519px #fff,
    942px 1922px #fff,
    1204px 10px #fff,
    1706px 767px #fff,
    180px 1753px #fff,
    871px 781px #fff,
    330px 1195px #fff,
    759px 963px #fff,
    626px 1972px #fff,
    754px 265px #fff,
    63px 1931px #fff,
    567px 269px #fff,
    842px 680px #fff,
    1717px 1992px #fff,
    1304px 1576px #fff,
    316px 24px #fff,
    10px 451px #fff,
    1952px 412px #fff,
    1958px 1246px #fff,
    1352px 1704px #fff,
    28px 716px #fff,
    43px 185px #fff,
    1721px 46px #fff,
    1534px 654px #fff,
    1372px 767px #fff,
    410px 1973px #fff,
    1550px 961px #fff,
    1725px 775px #fff,
    328px 1951px #fff,
    1072px 337px #fff,
    1980px 738px #fff,
    810px 138px #fff,
    1843px 1009px #fff,
    1670px 200px #fff,
    1294px 1927px #fff,
    742px 1100px #fff,
    1731px 1517px #fff,
    1798px 219px #fff,
    1389px 110px #fff,
    1196px 1997px #fff,
    83px 1294px #fff,
    1652px 1736px #fff,
    802px 1778px #fff,
    294px 1830px #fff,
    624px 1275px #fff,
    1965px 243px #fff,
    384px 49px #fff,
    1055px 1180px #fff,
    888px 1509px #fff,
    440px 221px #fff,
    550px 462px #fff,
    1185px 857px #fff,
    1419px 823px #fff,
    1063px 1011px #fff,
    1896px 906px #fff,
    1797px 330px #fff,
    1352px 958px #fff,
    1754px 741px #fff,
    1681px 282px #fff,
    1238px 1989px #fff,
    364px 292px #fff,
    1275px 1219px #fff,
    1277px 1972px #fff,
    32px 735px #fff,
    1652px 1333px #fff,
    1131px 1407px #fff,
    26px 1531px #fff,
    1954px 308px #fff,
    21px 939px #fff,
    416px 675px #fff,
    848px 1430px #fff,
    1132px 429px #fff,
    1616px 1503px #fff,
    465px 1370px #fff,
    1951px 106px #fff,
    1300px 963px #fff,
    828px 1231px #fff,
    932px 188px #fff,
    1003px 1169px #fff,
    1990px 334px #fff,
    695px 1658px #fff,
    1855px 1133px #fff,
    485px 1312px #fff,
    389px 174px #fff,
    402px 372px #fff,
    1938px 1551px #fff,
    1980px 996px #fff,
    381px 1463px #fff,
    748px 133px #fff,
    1635px 911px #fff,
    785px 606px #fff,
    1074px 310px #fff,
    213px 693px #fff,
    1868px 1669px #fff,
    1287px 311px #fff,
    1802px 552px #fff,
    1324px 1851px #fff,
    1118px 1558px #fff,
    707px 550px #fff,
    998px 828px #fff,
    8px 530px #fff,
    446px 45px #fff,
    1815px 332px #fff,
    1313px 1658px #fff,
    623px 1071px #fff,
    316px 57px #fff,
    945px 538px #fff,
    1729px 1387px #fff,
    1869px 1704px #fff,
    1970px 329px #fff,
    111px 876px #fff,
    238px 1660px #fff,
    1024px 357px #fff,
    904px 171px #fff,
    462px 1596px #fff,
    959px 412px #fff,
    384px 346px #fff,
    94px 1539px #fff,
    600px 1572px #fff,
    1773px 960px #fff,
    800px 573px #fff,
    1080px 1532px #fff,
    1138px 733px #fff,
    154px 1526px #fff,
    999px 1206px #fff,
    945px 851px #fff,
    1797px 342px #fff,
    61px 690px #fff,
    1657px 846px #fff,
    283px 1966px #fff,
    556px 1544px #fff,
    1464px 291px #fff,
    1444px 806px #fff,
    773px 960px #fff,
    929px 321px #fff,
    203px 1002px #fff,
    443px 1946px #fff,
    1882px 20px #fff,
    639px 1649px #fff,
    447px 1965px #fff,
    1394px 547px #fff,
    1211px 20px #fff,
    1784px 644px #fff,
    967px 83px #fff,
    1486px 487px #fff,
    1572px 1438px #fff,
    429px 1469px #fff,
    1296px 405px #fff,
    40px 559px #fff,
    865px 906px #fff,
    649px 12px #fff,
    698px 280px #fff,
    457px 1528px #fff,
    1579px 617px #fff,
    122px 1251px #fff,
    1828px 1840px #fff,
    1164px 1651px #fff,
    210px 833px #fff,
    351px 989px #fff,
    1936px 1046px #fff,
    127px 880px #fff,
    867px 118px #fff,
    1690px 541px #fff,
    555px 1578px #fff,
    1973px 61px #fff,
    1345px 1236px #fff,
    1285px 201px #fff,
    1326px 897px #fff,
    1352px 1117px #fff,
    568px 1579px #fff,
    1946px 641px #fff,
    1018px 265px #fff,
    1027px 1750px #fff,
    1801px 256px #fff,
    287px 1877px #fff,
    1662px 947px #fff,
    1759px 638px #fff,
    1075px 313px #fff,
    1441px 1107px #fff,
    394px 1309px #fff,
    178px 51px #fff,
    170px 323px #fff,
    1805px 184px #fff,
    393px 1646px #fff,
    438px 1369px #fff,
    1530px 1287px #fff,
    1875px 810px #fff,
    1196px 114px #fff,
    1073px 1681px #fff,
    329px 1228px #fff,
    483px 25px #fff,
    578px 250px #fff,
    324px 711px #fff,
    1585px 526px #fff,
    420px 236px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    1831px 1813px #fff,
    64px 272px #fff,
    1259px 1599px #fff,
    403px 1047px #fff,
    575px 99px #fff,
    48px 477px #fff,
    1735px 960px #fff,
    274px 57px #fff,
    1241px 274px #fff,
    882px 995px #fff,
    1524px 420px #fff,
    1940px 265px #fff,
    1709px 32px #fff,
    1232px 187px #fff,
    1694px 233px #fff,
    1607px 349px #fff,
    1291px 1052px #fff,
    1613px 984px #fff,
    1670px 1116px #fff,
    615px 740px #fff,
    1057px 1647px #fff,
    431px 541px #fff,
    896px 1300px #fff,
    38px 1053px #fff,
    1780px 1887px #fff,
    395px 377px #fff,
    1558px 1482px #fff,
    484px 473px #fff,
    1525px 1242px #fff,
    1624px 650px #fff,
    301px 15px #fff,
    597px 1674px #fff,
    448px 1043px #fff,
    1970px 838px #fff,
    1887px 1939px #fff,
    1921px 795px #fff,
    788px 398px #fff,
    1943px 1667px #fff,
    120px 1587px #fff,
    18px 91px #fff,
    1741px 1115px #fff,
    1028px 1330px #fff,
    1284px 1334px #fff,
    395px 179px #fff,
    674px 895px #fff,
    1058px 430px #fff,
    1437px 1202px #fff,
    426px 1903px #fff,
    873px 1813px #fff,
    816px 1486px #fff,
    752px 931px #fff,
    1168px 1274px #fff,
    1656px 286px #fff,
    641px 1315px #fff,
    1014px 1265px #fff,
    516px 612px #fff,
    986px 1457px #fff,
    429px 134px #fff,
    1164px 890px #fff,
    130px 1083px #fff,
    364px 1297px #fff,
    568px 366px #fff,
    170px 554px #fff,
    981px 1523px #fff,
    71px 902px #fff,
    1708px 308px #fff,
    14px 1944px #fff,
    19px 1770px #fff,
    1786px 1640px #fff,
    1366px 958px #fff,
    123px 1514px #fff,
    1247px 1626px #fff,
    1799px 380px #fff,
    1991px 989px #fff,
    1522px 403px #fff,
    234px 1746px #fff,
    14px 284px #fff,
    1766px 1152px #fff,
    1381px 1894px #fff,
    419px 1430px #fff,
    541px 5px #fff,
    1665px 866px #fff,
    289px 620px #fff,
    560px 789px #fff,
    1033px 5px #fff,
    7px 1920px #fff,
    207px 1376px #fff,
    69px 1765px #fff,
    462px 140px #fff,
    1676px 569px #fff,
    963px 1852px #fff,
    376px 1512px #fff,
    1056px 1859px #fff,
    866px 167px #fff,
    1854px 1676px #fff,
    636px 1448px #fff,
    672px 1537px #fff,
    1233px 1234px #fff,
    95px 1714px #fff,
    1653px 1050px #fff,
    801px 1902px #fff,
    599px 615px #fff,
    1115px 1008px #fff,
    723px 1536px #fff,
    1755px 142px #fff,
    638px 1782px #fff,
    1129px 1051px #fff,
    1348px 1181px #fff,
    1220px 767px #fff,
    939px 935px #fff,
    1461px 572px #fff,
    1172px 130px #fff,
    174px 1561px #fff,
    1218px 427px #fff,
    460px 1992px #fff,
    133px 372px #fff,
    1780px 1659px #fff,
    1851px 1225px #fff,
    1406px 516px #fff,
    794px 642px #fff,
    1856px 669px #fff,
    598px 45px #fff,
    957px 1381px #fff,
    1016px 442px #fff,
    1804px 1017px #fff,
    617px 1860px #fff,
    22px 1593px #fff,
    1675px 384px #fff,
    422px 1978px #fff,
    988px 1428px #fff,
    348px 1015px #fff,
    881px 1244px #fff,
    610px 344px #fff,
    360px 948px #fff,
    1150px 1793px #fff,
    76px 895px #fff,
    1971px 1367px #fff,
    127px 1835px #fff,
    131px 1059px #fff,
    1712px 454px #fff,
    491px 15px #fff,
    1640px 9px #fff,
    1694px 1521px #fff,
    939px 1545px #fff,
    240px 260px #fff,
    684px 377px #fff,
    1703px 1444px #fff,
    1165px 453px #fff,
    686px 1370px #fff,
    1332px 1215px #fff,
    58px 1175px #fff,
    322px 200px #fff,
    1866px 423px #fff,
    1083px 1117px #fff,
    1678px 1564px #fff,
    1972px 1717px #fff,
    1302px 1675px #fff,
    812px 37px #fff,
    232px 714px #fff,
    111px 1499px #fff,
    1540px 762px #fff,
    1308px 445px #fff,
    261px 765px #fff,
    1262px 713px #fff,
    932px 708px #fff,
    1473px 1471px #fff,
    315px 279px #fff,
    1465px 1777px #fff,
    1989px 1198px #fff,
    1487px 1641px #fff,
    198px 1125px #fff,
    1325px 84px #fff,
    106px 787px #fff,
    850px 1346px #fff,
    911px 474px #fff,
    1889px 1591px #fff,
    904px 1170px #fff,
    213px 1392px #fff,
    1843px 1372px #fff,
    325px 113px #fff,
    1245px 86px #fff,
    1825px 1510px #fff,
    1685px 1802px #fff,
    1491px 1183px #fff,
    350px 1230px #fff,
    180px 1175px #fff,
    1935px 1286px #fff,
    703px 1733px #fff,
    1489px 413px #fff,
    722px 99px #fff,
    1850px 34px #fff,
    710px 1908px #fff,
    886px 1559px #fff,
    1208px 261px #fff,
    1132px 1476px #fff,
    1466px 629px #fff,
    847px 983px #fff,
    839px 1212px #fff,
    37px 1284px #fff,
    1579px 977px #fff,
    123px 572px #fff,
    1103px 1380px #fff,
    680px 644px #fff,
    545px 752px #fff,
    121px 1219px #fff,
    1318px 385px #fff,
    1339px 1251px #fff,
    1906px 1046px #fff,
    1295px 502px #fff,
    334px 1270px #fff,
    1145px 1193px #fff,
    307px 1705px #fff,
    1499px 1091px #fff,
    550px 998px #fff,
    1652px 937px #fff,
    482px 357px #fff,
    922px 1961px #fff,
    333px 926px #fff,
    190px 46px #fff,
    51px 89px #fff,
    1644px 584px #fff,
    1461px 343px #fff,
    224px 931px #fff,
    775px 1846px #fff,
    949px 172px #fff,
    1211px 1907px #fff,
    1619px 1000px #fff,
    1031px 558px #fff,
    612px 166px #fff,
    1674px 1702px #fff,
    1992px 945px #fff,
    852px 921px #fff,
    41px 2px #fff,
    321px 49px #fff,
    1315px 174px #fff,
    454px 1506px #fff,
    1854px 1069px #fff,
    1489px 1113px #fff,
    84px 189px #fff,
    382px 920px #fff,
    24px 328px #fff,
    372px 1702px #fff,
    1704px 1581px #fff,
    1682px 374px #fff,
    240px 11px #fff,
    1369px 1033px #fff,
    1157px 542px #fff,
    1655px 500px #fff,
    587px 1339px #fff,
    899px 755px #fff,
    1976px 1895px #fff,
    1123px 653px #fff,
    1711px 1032px #fff,
    1701px 875px #fff,
    1059px 1871px #fff,
    452px 438px #fff,
    156px 1982px #fff,
    1261px 1796px #fff,
    732px 1207px #fff,
    1603px 819px #fff,
    1372px 174px #fff,
    1253px 1893px #fff,
    691px 170px #fff,
    1224px 352px #fff,
    706px 556px #fff,
    1347px 1760px #fff,
    1144px 913px #fff,
    1354px 681px #fff,
    1266px 835px #fff,
    810px 102px #fff,
    145px 344px #fff,
    904px 199px #fff,
    1188px 1536px #fff,
    1071px 60px #fff,
    644px 181px #fff,
    745px 1778px #fff,
    1941px 1394px #fff,
    215px 1109px #fff,
    1321px 1560px #fff,
    156px 508px #fff,
    1807px 1792px #fff,
    29px 384px #fff,
    1059px 1130px #fff,
    272px 1880px #fff,
    445px 829px #fff,
    433px 126px #fff,
    1843px 1219px #fff,
    1061px 658px #fff,
    1074px 1560px #fff,
    121px 640px #fff,
    629px 1053px #fff,
    68px 823px #fff,
    1631px 187px #fff,
    886px 321px #fff,
    20px 1365px #fff,
    162px 360px #fff,
    1964px 922px #fff,
    1458px 495px #fff,
    1165px 912px #fff,
    1215px 135px #fff,
    717px 1938px #fff,
    1546px 12px #fff,
    55px 513px #fff,
    456px 1728px #fff,
    886px 1588px #fff,
    192px 1352px #fff,
    1377px 1273px #fff,
    353px 672px #fff,
    856px 423px #fff,
    314px 457px #fff,
    269px 1841px #fff,
    846px 1128px #fff,
    729px 724px #fff,
    910px 1807px #fff,
    314px 1888px #fff,
    683px 1761px #fff,
    1445px 1388px #fff,
    1824px 356px #fff,
    1446px 1213px #fff,
    1653px 698px #fff,
    1422px 1120px #fff,
    1451px 95px #fff,
    627px 994px #fff,
    1602px 160px #fff,
    991px 1655px #fff,
    1484px 184px #fff,
    1871px 770px #fff,
    229px 1260px #fff,
    943px 869px #fff,
    720px 1000px #fff,
    213px 276px #fff,
    1119px 1639px #fff,
    1688px 1538px #fff,
    199px 27px #fff,
    607px 1506px #fff,
    1773px 1517px #fff,
    91px 1643px #fff,
    1748px 1525px #fff,
    1102px 727px #fff,
    1993px 1200px #fff,
    1331px 159px #fff,
    1373px 1180px #fff,
    118px 259px #fff,
    1365px 1885px #fff,
    448px 1590px #fff,
    1583px 190px #fff,
    853px 1244px #fff,
    1018px 1177px #fff,
    1693px 883px #fff,
    194px 1680px #fff,
    1747px 973px #fff,
    1781px 600px #fff,
    1347px 1448px #fff,
    267px 4px #fff,
    1479px 1441px #fff,
    544px 375px #fff,
    575px 1311px #fff,
    95px 686px #fff,
    49px 1139px #fff,
    1608px 1030px #fff,
    825px 1596px #fff,
    782px 20px #fff,
    65px 631px #fff,
    1649px 651px #fff,
    17px 727px #fff,
    1330px 600px #fff,
    1697px 226px #fff,
    1686px 1946px #fff,
    1646px 1779px #fff,
    100px 1106px #fff,
    315px 1861px #fff,
    1625px 1433px #fff,
    683px 951px #fff,
    1326px 1670px #fff,
    1773px 29px #fff,
    1030px 280px #fff,
    703px 445px #fff,
    1020px 61px #fff,
    1091px 109px #fff,
    1900px 1500px #fff,
    1006px 1917px #fff,
    1375px 1238px #fff,
    1105px 6px #fff,
    1887px 1241px #fff,
    943px 1868px #fff,
    1195px 1116px #fff,
    1130px 4px #fff,
    364px 1984px #fff,
    644px 218px #fff,
    938px 930px #fff,
    281px 1201px #fff,
    1655px 186px #fff,
    334px 1426px #fff,
    1796px 1142px #fff,
    970px 29px #fff,
    1007px 1567px #fff,
    342px 1840px #fff,
    1781px 1059px #fff,
    1732px 1500px #fff,
    133px 139px #fff,
    1646px 696px #fff,
    63px 1832px #fff,
    1487px 711px #fff,
    1272px 173px #fff,
    23px 454px #fff,
    1935px 1194px #fff,
    1019px 1882px #fff,
    867px 1849px #fff,
    65px 1261px #fff,
    340px 1524px #fff,
    1587px 1514px #fff,
    1333px 1482px #fff,
    795px 413px #fff,
    943px 1706px #fff,
    630px 1057px #fff,
    221px 268px #fff,
    1795px 872px #fff,
    1333px 1455px #fff,
    1250px 1519px #fff,
    535px 1689px #fff,
    1536px 953px #fff,
    1481px 1432px #fff,
    1106px 1848px #fff,
    841px 11px #fff,
    838px 842px #fff,
    1191px 456px #fff,
    917px 1635px #fff,
    1654px 1755px #fff,
    1943px 1933px #fff,
    883px 1552px #fff,
    1056px 1544px #fff,
    1305px 224px #fff,
    1875px 1798px #fff,
    1590px 1712px #fff,
    22px 1734px #fff,
    1373px 1282px #fff,
    7px 1159px #fff,
    1237px 45px #fff,
    36px 1146px #fff,
    15px 1196px #fff,
    1015px 1144px #fff,
    373px 1252px #fff,
    1427px 607px #fff,
    1000px 475px #fff,
    210px 661px #fff,
    1379px 162px #fff,
    1696px 323px #fff,
    1446px 1752px #fff,
    1271px 1800px #fff,
    1100px 1182px #fff,
    804px 1439px #fff,
    1075px 1917px #fff,
    234px 639px #fff,
    1157px 1541px #fff,
    1626px 1116px #fff,
    288px 15px #fff,
    1965px 1778px #fff,
    349px 526px #fff,
    1115px 1984px #fff,
    275px 1226px #fff,
    1191px 1387px #fff,
    780px 1777px #fff,
    1184px 1218px #fff,
    348px 1802px #fff,
    1555px 1203px #fff,
    206px 810px #fff,
    1541px 1009px #fff,
    1264px 1330px #fff,
    128px 325px #fff,
    126px 1886px #fff,
    1621px 1558px #fff,
    821px 357px #fff,
    1136px 790px #fff,
    1248px 1573px #fff,
    773px 1054px #fff,
    1869px 655px #fff,
    911px 138px #fff,
    1442px 615px #fff,
    135px 942px #fff,
    168px 1420px #fff,
    1954px 846px #fff,
    105px 895px #fff,
    464px 1679px #fff,
    1096px 1320px #fff,
    1251px 77px #fff,
    1063px 1635px #fff,
    1008px 587px #fff,
    1354px 832px #fff,
    1013px 446px #fff,
    1267px 1219px #fff,
    308px 1498px #fff,
    297px 748px #fff,
    1838px 543px #fff,
    158px 1082px #fff,
    184px 805px #fff,
    61px 1137px #fff,
    473px 814px #fff,
    1096px 1520px #fff,
    1036px 532px #fff,
    84px 1845px #fff,
    1521px 418px #fff,
    1346px 1877px #fff,
    553px 371px #fff,
    1069px 660px #fff,
    1257px 1894px #fff,
    1978px 519px #fff,
    942px 1922px #fff,
    1204px 10px #fff,
    1706px 767px #fff,
    180px 1753px #fff,
    871px 781px #fff,
    330px 1195px #fff,
    759px 963px #fff,
    626px 1972px #fff,
    754px 265px #fff,
    63px 1931px #fff,
    567px 269px #fff,
    842px 680px #fff,
    1717px 1992px #fff,
    1304px 1576px #fff,
    316px 24px #fff,
    10px 451px #fff,
    1952px 412px #fff,
    1958px 1246px #fff,
    1352px 1704px #fff,
    28px 716px #fff,
    43px 185px #fff,
    1721px 46px #fff,
    1534px 654px #fff,
    1372px 767px #fff,
    410px 1973px #fff,
    1550px 961px #fff,
    1725px 775px #fff,
    328px 1951px #fff,
    1072px 337px #fff,
    1980px 738px #fff,
    810px 138px #fff,
    1843px 1009px #fff,
    1670px 200px #fff,
    1294px 1927px #fff,
    742px 1100px #fff,
    1731px 1517px #fff,
    1798px 219px #fff,
    1389px 110px #fff,
    1196px 1997px #fff,
    83px 1294px #fff,
    1652px 1736px #fff,
    802px 1778px #fff,
    294px 1830px #fff,
    624px 1275px #fff,
    1965px 243px #fff,
    384px 49px #fff,
    1055px 1180px #fff,
    888px 1509px #fff,
    440px 221px #fff,
    550px 462px #fff,
    1185px 857px #fff,
    1419px 823px #fff,
    1063px 1011px #fff,
    1896px 906px #fff,
    1797px 330px #fff,
    1352px 958px #fff,
    1754px 741px #fff,
    1681px 282px #fff,
    1238px 1989px #fff,
    364px 292px #fff,
    1275px 1219px #fff,
    1277px 1972px #fff,
    32px 735px #fff,
    1652px 1333px #fff,
    1131px 1407px #fff,
    26px 1531px #fff,
    1954px 308px #fff,
    21px 939px #fff,
    416px 675px #fff,
    848px 1430px #fff,
    1132px 429px #fff,
    1616px 1503px #fff,
    465px 1370px #fff,
    1951px 106px #fff,
    1300px 963px #fff,
    828px 1231px #fff,
    932px 188px #fff,
    1003px 1169px #fff,
    1990px 334px #fff,
    695px 1658px #fff,
    1855px 1133px #fff,
    485px 1312px #fff,
    389px 174px #fff,
    402px 372px #fff,
    1938px 1551px #fff,
    1980px 996px #fff,
    381px 1463px #fff,
    748px 133px #fff,
    1635px 911px #fff,
    785px 606px #fff,
    1074px 310px #fff,
    213px 693px #fff,
    1868px 1669px #fff,
    1287px 311px #fff,
    1802px 552px #fff,
    1324px 1851px #fff,
    1118px 1558px #fff,
    707px 550px #fff,
    998px 828px #fff,
    8px 530px #fff,
    446px 45px #fff,
    1815px 332px #fff,
    1313px 1658px #fff,
    623px 1071px #fff,
    316px 57px #fff,
    945px 538px #fff,
    1729px 1387px #fff,
    1869px 1704px #fff,
    1970px 329px #fff,
    111px 876px #fff,
    238px 1660px #fff,
    1024px 357px #fff,
    904px 171px #fff,
    462px 1596px #fff,
    959px 412px #fff,
    384px 346px #fff,
    94px 1539px #fff,
    600px 1572px #fff,
    1773px 960px #fff,
    800px 573px #fff,
    1080px 1532px #fff,
    1138px 733px #fff,
    154px 1526px #fff,
    999px 1206px #fff,
    945px 851px #fff,
    1797px 342px #fff,
    61px 690px #fff,
    1657px 846px #fff,
    283px 1966px #fff,
    556px 1544px #fff,
    1464px 291px #fff,
    1444px 806px #fff,
    773px 960px #fff,
    929px 321px #fff,
    203px 1002px #fff,
    443px 1946px #fff,
    1882px 20px #fff,
    639px 1649px #fff,
    447px 1965px #fff,
    1394px 547px #fff,
    1211px 20px #fff,
    1784px 644px #fff,
    967px 83px #fff,
    1486px 487px #fff,
    1572px 1438px #fff,
    429px 1469px #fff,
    1296px 405px #fff,
    40px 559px #fff,
    865px 906px #fff,
    649px 12px #fff,
    698px 280px #fff,
    457px 1528px #fff,
    1579px 617px #fff,
    122px 1251px #fff,
    1828px 1840px #fff,
    1164px 1651px #fff,
    210px 833px #fff,
    351px 989px #fff,
    1936px 1046px #fff,
    127px 880px #fff,
    867px 118px #fff,
    1690px 541px #fff,
    555px 1578px #fff,
    1973px 61px #fff,
    1345px 1236px #fff,
    1285px 201px #fff,
    1326px 897px #fff,
    1352px 1117px #fff,
    568px 1579px #fff,
    1946px 641px #fff,
    1018px 265px #fff,
    1027px 1750px #fff,
    1801px 256px #fff,
    287px 1877px #fff,
    1662px 947px #fff,
    1759px 638px #fff,
    1075px 313px #fff,
    1441px 1107px #fff,
    394px 1309px #fff,
    178px 51px #fff,
    170px 323px #fff,
    1805px 184px #fff,
    393px 1646px #fff,
    438px 1369px #fff,
    1530px 1287px #fff,
    1875px 810px #fff,
    1196px 114px #fff,
    1073px 1681px #fff,
    329px 1228px #fff,
    483px 25px #fff,
    578px 250px #fff,
    324px 711px #fff,
    1585px 526px #fff,
    420px 236px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    335px 976px #fff,
    137px 1155px #fff,
    1832px 55px #fff,
    1866px 681px #fff,
    19px 379px #fff,
    1654px 610px #fff,
    521px 1577px #fff,
    565px 650px #fff,
    466px 1620px #fff,
    1816px 1386px #fff,
    527px 1904px #fff,
    119px 1505px #fff,
    356px 1029px #fff,
    664px 430px #fff,
    31px 10px #fff,
    764px 1324px #fff,
    1761px 1669px #fff,
    1277px 569px #fff,
    894px 1973px #fff,
    595px 1069px #fff,
    566px 1955px #fff,
    156px 314px #fff,
    1851px 1283px #fff,
    553px 1828px #fff,
    274px 416px #fff,
    209px 1256px #fff,
    1625px 1638px #fff,
    96px 1035px #fff,
    1748px 714px #fff,
    911px 459px #fff,
    1168px 1371px #fff,
    1003px 115px #fff,
    969px 674px #fff,
    979px 341px #fff,
    1990px 695px #fff,
    1697px 953px #fff,
    548px 1641px #fff,
    469px 1528px #fff,
    265px 1190px #fff,
    1429px 1230px #fff,
    1056px 1172px #fff,
    214px 44px #fff,
    577px 1365px #fff,
    1378px 240px #fff,
    609px 1237px #fff,
    424px 575px #fff,
    256px 1608px #fff,
    388px 119px #fff,
    372px 686px #fff,
    98px 1948px #fff,
    1691px 583px #fff,
    285px 989px #fff,
    395px 780px #fff,
    30px 409px #fff,
    739px 1665px #fff,
    841px 620px #fff,
    859px 1469px #fff,
    883px 1331px #fff,
    1150px 1363px #fff,
    1778px 1129px #fff,
    1430px 1854px #fff,
    800px 1224px #fff,
    968px 160px #fff,
    1001px 81px #fff,
    1807px 1534px #fff,
    316px 1266px #fff,
    1696px 1584px #fff,
    460px 167px #fff,
    600px 706px #fff,
    654px 731px #fff,
    1340px 1494px #fff,
    1318px 36px #fff,
    1249px 886px #fff,
    1353px 1573px #fff,
    776px 463px #fff,
    642px 15px #fff,
    1485px 1272px #fff,
    535px 631px #fff,
    1323px 1414px #fff,
    145px 1056px #fff,
    1219px 200px #fff,
    107px 1124px #fff,
    1757px 1725px #fff,
    1384px 1517px #fff,
    1106px 829px #fff,
    1920px 720px #fff,
    1233px 1314px #fff,
    1425px 1576px #fff,
    805px 452px #fff,
    1159px 1177px #fff,
    1867px 490px #fff,
    673px 1207px #fff,
    230px 1945px #fff,
    341px 327px #fff,
    1345px 1803px #fff,
    340px 156px #fff,
    1522px 1460px #fff,
    761px 538px #fff,
    1036px 1687px #fff,
    838px 1173px #fff,
    718px 737px #fff,
    1577px 1488px #fff,
    421px 367px #fff,
    1960px 1840px #fff,
    696px 1572px #fff,
    1170px 1698px #fff,
    677px 1456px #fff,
    108px 1528px #fff,
    408px 530px #fff,
    1476px 456px #fff,
    596px 164px #fff,
    1143px 1346px #fff,
    851px 105px #fff,
    1468px 536px #fff,
    557px 451px #fff,
    1587px 1208px #fff,
    1995px 1408px #fff,
    695px 819px #fff,
    1417px 1261px #fff,
    1372px 662px #fff,
    1987px 1975px #fff,
    1742px 1653px #fff,
    788px 1470px #fff,
    1356px 1147px #fff,
    174px 73px #fff,
    986px 1197px #fff,
    380px 1078px #fff,
    471px 1827px #fff,
    1292px 1102px #fff,
    838px 668px #fff,
    814px 1987px #fff,
    840px 143px #fff,
    17px 1196px #fff,
    772px 1662px #fff,
    387px 1142px #fff,
    642px 1436px #fff,
    165px 1884px #fff,
    1794px 920px #fff,
    1978px 453px #fff,
    983px 1737px #fff,
    1800px 740px #fff,
    497px 3px #fff,
    1291px 1004px #fff,
    155px 1886px #fff,
    812px 173px #fff,
    1979px 1957px #fff,
    112px 172px #fff,
    605px 862px #fff,
    848px 891px #fff,
    1847px 1703px #fff,
    1110px 503px #fff,
    1368px 220px #fff,
    475px 940px #fff,
    476px 1559px #fff,
    231px 862px #fff,
    1340px 1910px #fff,
    710px 1908px #fff,
    118px 946px #fff,
    708px 457px #fff,
    473px 1655px #fff,
    187px 1704px #fff,
    1014px 250px #fff,
    1318px 681px #fff,
    1704px 1822px #fff,
    287px 1625px #fff,
    301px 335px #fff,
    1409px 1790px #fff,
    770px 868px #fff,
    328px 884px #fff,
    1842px 1244px #fff,
    1723px 129px #fff,
    76px 415px #fff,
    1914px 763px #fff,
    472px 1115px #fff,
    13px 1533px #fff,
    176px 1080px #fff,
    1279px 1451px #fff,
    1202px 1639px #fff,
    456px 604px #fff,
    1862px 1753px #fff,
    584px 1399px #fff,
    869px 1060px #fff,
    766px 988px #fff,
    1534px 934px #fff,
    207px 1317px #fff,
    115px 1908px #fff,
    143px 600px #fff,
    1417px 494px #fff,
    787px 1960px #fff,
    371px 1137px #fff,
    526px 1624px #fff,
    534px 1915px #fff,
    1693px 1019px #fff,
    505px 744px #fff,
    1046px 62px #fff,
    710px 996px #fff,
    1909px 777px #fff,
    1000px 741px #fff,
    1328px 598px #fff,
    1032px 1131px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    335px 976px #fff,
    137px 1155px #fff,
    1832px 55px #fff,
    1866px 681px #fff,
    19px 379px #fff,
    1654px 610px #fff,
    521px 1577px #fff,
    565px 650px #fff,
    466px 1620px #fff,
    1816px 1386px #fff,
    527px 1904px #fff,
    119px 1505px #fff,
    356px 1029px #fff,
    664px 430px #fff,
    31px 10px #fff,
    764px 1324px #fff,
    1761px 1669px #fff,
    1277px 569px #fff,
    894px 1973px #fff,
    595px 1069px #fff,
    566px 1955px #fff,
    156px 314px #fff,
    1851px 1283px #fff,
    553px 1828px #fff,
    274px 416px #fff,
    209px 1256px #fff,
    1625px 1638px #fff,
    96px 1035px #fff,
    1748px 714px #fff,
    911px 459px #fff,
    1168px 1371px #fff,
    1003px 115px #fff,
    969px 674px #fff,
    979px 341px #fff,
    1990px 695px #fff,
    1697px 953px #fff,
    548px 1641px #fff,
    469px 1528px #fff,
    265px 1190px #fff,
    1429px 1230px #fff,
    1056px 1172px #fff,
    214px 44px #fff,
    577px 1365px #fff,
    1378px 240px #fff,
    609px 1237px #fff,
    424px 575px #fff,
    256px 1608px #fff,
    388px 119px #fff,
    372px 686px #fff,
    98px 1948px #fff,
    1691px 583px #fff,
    285px 989px #fff,
    395px 780px #fff,
    30px 409px #fff,
    739px 1665px #fff,
    841px 620px #fff,
    859px 1469px #fff,
    883px 1331px #fff,
    1150px 1363px #fff,
    1778px 1129px #fff,
    1430px 1854px #fff,
    800px 1224px #fff,
    968px 160px #fff,
    1001px 81px #fff,
    1807px 1534px #fff,
    316px 1266px #fff,
    1696px 1584px #fff,
    460px 167px #fff,
    600px 706px #fff,
    654px 731px #fff,
    1340px 1494px #fff,
    1318px 36px #fff,
    1249px 886px #fff,
    1353px 1573px #fff,
    776px 463px #fff,
    642px 15px #fff,
    1485px 1272px #fff,
    535px 631px #fff,
    1323px 1414px #fff,
    145px 1056px #fff,
    1219px 200px #fff,
    107px 1124px #fff,
    1757px 1725px #fff,
    1384px 1517px #fff,
    1106px 829px #fff,
    1920px 720px #fff,
    1233px 1314px #fff,
    1425px 1576px #fff,
    805px 452px #fff,
    1159px 1177px #fff,
    1867px 490px #fff,
    673px 1207px #fff,
    230px 1945px #fff,
    341px 327px #fff,
    1345px 1803px #fff,
    340px 156px #fff,
    1522px 1460px #fff,
    761px 538px #fff,
    1036px 1687px #fff,
    838px 1173px #fff,
    718px 737px #fff,
    1577px 1488px #fff,
    421px 367px #fff,
    1960px 1840px #fff,
    696px 1572px #fff,
    1170px 1698px #fff,
    677px 1456px #fff,
    108px 1528px #fff,
    408px 530px #fff,
    1476px 456px #fff,
    596px 164px #fff,
    1143px 1346px #fff,
    851px 105px #fff,
    1468px 536px #fff,
    557px 451px #fff,
    1587px 1208px #fff,
    1995px 1408px #fff,
    695px 819px #fff,
    1417px 1261px #fff,
    1372px 662px #fff,
    1987px 1975px #fff,
    1742px 1653px #fff,
    788px 1470px #fff,
    1356px 1147px #fff,
    174px 73px #fff,
    986px 1197px #fff,
    380px 1078px #fff,
    471px 1827px #fff,
    1292px 1102px #fff,
    838px 668px #fff,
    814px 1987px #fff,
    840px 143px #fff,
    17px 1196px #fff,
    772px 1662px #fff,
    387px 1142px #fff,
    642px 1436px #fff,
    165px 1884px #fff,
    1794px 920px #fff,
    1978px 453px #fff,
    983px 1737px #fff,
    1800px 740px #fff,
    497px 3px #fff,
    1291px 1004px #fff,
    155px 1886px #fff,
    812px 173px #fff,
    1979px 1957px #fff,
    112px 172px #fff,
    605px 862px #fff,
    848px 891px #fff,
    1847px 1703px #fff,
    1110px 503px #fff,
    1368px 220px #fff,
    475px 940px #fff,
    476px 1559px #fff,
    231px 862px #fff,
    1340px 1910px #fff,
    710px 1908px #fff,
    118px 946px #fff,
    708px 457px #fff,
    473px 1655px #fff,
    187px 1704px #fff,
    1014px 250px #fff,
    1318px 681px #fff,
    1704px 1822px #fff,
    287px 1625px #fff,
    301px 335px #fff,
    1409px 1790px #fff,
    770px 868px #fff,
    328px 884px #fff,
    1842px 1244px #fff,
    1723px 129px #fff,
    76px 415px #fff,
    1914px 763px #fff,
    472px 1115px #fff,
    13px 1533px #fff,
    176px 1080px #fff,
    1279px 1451px #fff,
    1202px 1639px #fff,
    456px 604px #fff,
    1862px 1753px #fff,
    584px 1399px #fff,
    869px 1060px #fff,
    766px 988px #fff,
    1534px 934px #fff,
    207px 1317px #fff,
    115px 1908px #fff,
    143px 600px #fff,
    1417px 494px #fff,
    787px 1960px #fff,
    371px 1137px #fff,
    526px 1624px #fff,
    534px 1915px #fff,
    1693px 1019px #fff,
    505px 744px #fff,
    1046px 62px #fff,
    710px 996px #fff,
    1909px 777px #fff,
    1000px 741px #fff,
    1328px 598px #fff,
    1032px 1131px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    334px 1976px #fff,
    694px 875px #fff,
    997px 63px #fff,
    424px 803px #fff,
    754px 1460px #fff,
    331px 309px #fff,
    291px 905px #fff,
    1193px 40px #fff,
    1088px 1093px #fff,
    55px 1290px #fff,
    1566px 874px #fff,
    367px 1552px #fff,
    1614px 1293px #fff,
    1532px 356px #fff,
    816px 1584px #fff,
    469px 1323px #fff,
    1153px 1374px #fff,
    750px 711px #fff,
    664px 1720px #fff,
    899px 288px #fff,
    518px 1450px #fff,
    1003px 1873px #fff,
    226px 1178px #fff,
    30px 954px #fff,
    174px 1057px #fff,
    448px 1429px #fff,
    1147px 534px #fff,
    416px 305px #fff,
    1791px 1301px #fff,
    1875px 1167px #fff,
    618px 1846px #fff,
    1533px 511px #fff,
    913px 606px #fff,
    554px 1451px #fff,
    518px 91px #fff,
    1299px 977px #fff,
    743px 367px #fff,
    1312px 257px #fff,
    1247px 1549px #fff,
    193px 56px #fff,
    1522px 1136px #fff,
    144px 55px #fff,
    1560px 917px #fff,
    1335px 801px #fff,
    1845px 1193px #fff,
    1147px 1846px #fff,
    1182px 269px #fff,
    106px 89px #fff,
    1159px 63px #fff,
    128px 1167px #fff,
    691px 493px #fff,
    1785px 1215px #fff,
    597px 1008px #fff,
    1165px 177px #fff,
    1945px 1046px #fff,
    944px 989px #fff,
    729px 1276px #fff,
    1660px 1867px #fff,
    1061px 557px #fff,
    367px 1224px #fff,
    1196px 1654px #fff,
    912px 1238px #fff,
    31px 833px #fff,
    1008px 559px #fff,
    354px 432px #fff,
    470px 1845px #fff,
    1511px 126px #fff,
    1770px 327px #fff,
    1670px 1424px #fff,
    1391px 1063px #fff,
    983px 113px #fff,
    1325px 1222px #fff,
    1384px 1565px #fff,
    1425px 1057px #fff,
    428px 231px #fff,
    145px 1600px #fff,
    1792px 1152px #fff,
    1136px 1136px #fff,
    1305px 1214px #fff,
    5px 794px #fff,
    1449px 1106px #fff,
    25px 1736px #fff,
    854px 3px #fff,
    1272px 1870px #fff,
    893px 436px #fff,
    1305px 239px #fff,
    1870px 130px #fff,
    64px 1119px #fff,
    1074px 1345px #fff,
    345px 773px #fff,
    249px 1787px #fff,
    222px 1171px #fff,
    673px 1328px #fff,
    874px 1689px #fff,
    710px 1766px #fff,
    1978px 1682px #fff,
    31px 1266px #fff,
    1389px 1133px #fff,
    46px 752px #fff,
    1076px 279px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    334px 1976px #fff,
    694px 875px #fff,
    997px 63px #fff,
    424px 803px #fff,
    754px 1460px #fff,
    331px 309px #fff,
    291px 905px #fff,
    1193px 40px #fff,
    1088px 1093px #fff,
    55px 1290px #fff,
    1566px 874px #fff,
    367px 1552px #fff,
    1614px 1293px #fff,
    1532px 356px #fff,
    816px 1584px #fff,
    469px 1323px #fff,
    1153px 1374px #fff,
    750px 711px #fff,
    664px 1720px #fff,
    899px 288px #fff,
    518px 1450px #fff,
    1003px 1873px #fff,
    226px 1178px #fff,
    30px 954px #fff,
    174px 1057px #fff,
    448px 1429px #fff,
    1147px 534px #fff,
    416px 305px #fff,
    1791px 1301px #fff,
    1875px 1167px #fff,
    618px 1846px #fff,
    1533px 511px #fff,
    913px 606px #fff,
    554px 1451px #fff,
    518px 91px #fff,
    1299px 977px #fff,
    743px 367px #fff,
    1312px 257px #fff,
    1247px 1549px #fff,
    193px 56px #fff,
    1522px 1136px #fff,
    144px 55px #fff,
    1560px 917px #fff,
    1335px 801px #fff,
    1845px 1193px #fff,
    1147px 1846px #fff,
    1182px 269px #fff,
    106px 89px #fff,
    1159px 63px #fff,
    128px 1167px #fff,
    691px 493px #fff,
    1785px 1215px #fff,
    597px 1008px #fff,
    1165px 177px #fff,
    1945px 1046px #fff,
    944px 989px #fff,
    729px 1276px #fff,
    1660px 1867px #fff,
    1061px 557px #fff,
    367px 1224px #fff,
    1196px 1654px #fff,
    912px 1238px #fff,
    31px 833px #fff,
    1008px 559px #fff,
    354px 432px #fff,
    470px 1845px #fff,
    1511px 126px #fff,
    1770px 327px #fff,
    1670px 1424px #fff,
    1391px 1063px #fff,
    983px 113px #fff,
    1325px 1222px #fff,
    1384px 1565px #fff,
    1425px 1057px #fff,
    428px 231px #fff,
    145px 1600px #fff,
    1792px 1152px #fff,
    1136px 1136px #fff,
    1305px 1214px #fff,
    5px 794px #fff,
    1449px 1106px #fff,
    25px 1736px #fff,
    854px 3px #fff,
    1272px 1870px #fff,
    893px 436px #fff,
    1305px 239px #fff,
    1870px 130px #fff,
    64px 1119px #fff,
    1074px 1345px #fff,
    345px 773px #fff,
    249px 1787px #fff,
    222px 1171px #fff,
    673px 1328px #fff,
    874px 1689px #fff,
    710px 1766px #fff,
    1978px 1682px #fff,
    31px 1266px #fff,
    1389px 1133px #fff,
    46px 752px #fff,
    1076px 279px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
